In [1]:
# import required packages
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv('../../data/train_data.csv')

# dataframe shape: (rows, columns)
display(df.shape)

# first 5 datapoints
display(df.head())

(3192, 2)

                                      clean_sentence Sentiment
0  upm kymmene one world leading printing paper p...  positive
1   nokia pct eur kicking morning negative territory  positive
2  vasantha appointed managing director incap con...   neutral
3  consolidated net sale increased reach eur oper...  positive
4  cabot export production mainly goodyear bridge...   neutral

In [6]:
# check if null value exist
display(df.clean_sentence.isna().sum())

# replace null values with empty string
df.clean_sentence = df.clean_sentence.fillna('')

# verify null count
display(df.clean_sentence.isna().sum())

1

0

In [7]:
# instantiate a CountVectorizer
cv = CountVectorizer()

# training and creating bag of words
counts = cv.fit_transform(df['clean_sentence'].values)

In [16]:
# extract bag of words as dataframe
df_bow = pd.DataFrame(counts.A, columns=cv.get_feature_names_out())

# include Sentiment column
df_bow['Sentiment'] = df['Sentiment']

# shape
display(df_bow.shape)

# 10 random datapoints
df_bow.sample(10)

(3192, 6683)

,aal,aaland,aalto,aapl,aaron,aava,abb,abbott,abbv,aberdeen,...,zain,zainalabedin,zanadvorov,zao,zinc,zloty,znga,zoltan,zone,Sentiment
125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral
3084,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative
818,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral
218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral
825,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
2612,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
1853,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral
894,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
1239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,negative