In [4]:
import sys
sys.path.insert(0, '../../scripts/')

In [5]:
# import required packages
import pandas as pd
import numpy as np

# preprocess
from sklearn.feature_extraction.text import CountVectorizer

# local scripts
from text_utils import preprocess_corpus

In [2]:
df = pd.read_csv('../../data/train_data.csv')

# dataframe shape: (rows, columns)
display(df.shape)

# first 5 datapoints
display(df.head())

(3192, 2)

                                            Sentence Sentiment
0  UPM-Kymmene is one of the world 's leading pri...  positive
1  Nokia was up 0.12 pct to 16.70 eur after kicki...  positive
2  Mr K.R. Vasantha has been appointed Managing D...   neutral
3  Consolidated net sales increased 16 % to reach...  positive
4  CS Cabot exports 55 % of its production mainly...   neutral

In [6]:
# preprocess documents
# remove special characters, stopwords
# lemmatization
clean_sentence = preprocess_corpus(df.Sentence)

clean_sentence.head()

0    upm kymmene one world leading printing paper p...
1     nokia pct eur kicking morning negative territory
2    vasantha appointed managing director incap con...
3    consolidated net sale increased reach eur oper...
4    cabot export production mainly goodyear bridge...
Name: Sentence, dtype: object

In [7]:
# instantiate a CountVectorizer
cv = CountVectorizer()

# train and construct bag of words
counts = cv.fit_transform(clean_sentence)

In [8]:
# extract bag of words as dataframe
df_bow = pd.DataFrame(counts.A, columns=cv.get_feature_names_out())

# include Sentiment column
df_bow['Sentiment'] = df['Sentiment']

# shape
display(df_bow.shape)

# first 5 datapoints
df_bow.head()

(3192, 6683)

,aal,aaland,aalto,aapl,aaron,aava,abb,abbott,abbv,aberdeen,...,zain,zainalabedin,zanadvorov,zao,zinc,zloty,znga,zoltan,zone,Sentiment
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,positive
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,neutral